html {
	font-size: 1.3vh;
	line-height: 1.3vh;
}

.objecth1{
	color:rgb(0, 238, 255)
}

.objectdiv {
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 30vh;
	padding-top: 40vh;
	background-position: left bottom;
	height: 34vh;
    overflow-y: hidden;
}
.hidden{
	visibility: hidden;
}
.visible{
	visibility: visible;
}
.flash-message{
	background-image: linear-gradient(rgb(0, 0, 0, 0),rgb(0, 0, 0, 0.5),rgb(0, 0, 0, 0.5),rgb(0, 0, 0, 0));
	height: 67vh;
    position: fixed;
    width: 100%;
	top: 20%;
	padding-top: 32%;
	display: block;
	
	opacity: 1;

	z-index: 1;
	transition: opacity ease 1s;
}
	.flash-message img {
		margin:0 auto;
		width:13vw;
		display: block;
		margin: 0 auto;
		
	}
	.flash-message p {
		font-size:2rem;
		color: #FFFFFF;
		display: block;
		text-align: center;
    	margin-top: 2vh;
	}
.flash-message.hide-tip{
	opacity: 0;
	z-index: -1;
}
.header {
	width: 100vw;
	padding: 15vh 5vw 5vh 10vw;
	transition: all .2s ease;
	position: fixed;
	z-index: 1;
	top: 0;
}

	.header .content {
		transition: all .5s ease;
	}

		.header .content h1 {
			font-size: 2.8rem;
			line-height: 3.6rem;
			font-weight: 400;
			max-width: 70%;
		}

		.header .content hr {
			width: 22vw;
			margin: 2vh 80vw 2vh 0;
			height: 4px;
			background-color: var(--theme);
			transition: all .5s ease-out;
		}

		.header .content p {
			font-size: 1.2rem;
			line-height: 2rem;
			opacity: 1;
			transition: all .5s ease-in;
			max-width: 35vw;
		}
		body.collapsed .header {
			padding: 4vh 5vw 6vh 10vw;
			background: linear-gradient(white 40%, transparent);
		}
		
			body.collapsed .header .content h1 {
				font-size: 2.5rem;
				line-height: 3.2rem;
				max-width: 100%;
			}
		
			body.collapsed .header .content hr {
				margin-right: 0;
				width: 100%;
				position: relative;
				overflow: visible;
				z-index: 2;
			}
		
			body.collapsed .header .content p {
				opacity: 0;
			}
.items {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 50% 80%;
	z-index: 1;
}

	.items li {
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: 2;
	}

		.items li .spot {
			background: var(--theme);
			width: 3vw;
			height: 3vw;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			font-size: 1rem;
			font-weight: 600;
			line-height: 1rem;
			border-radius: 50%;
			z-index: 4;
			cursor: pointer;
			transition: all .2s ease-in-out;
		}

			.items li .spot::after {
				content: "+";
			}

		.items li.selected .spot {
			background: #444444;
		}

			.items li.selected .spot::after {
				content: "x";
			}

		.items li .slider {
			position: relative;
			left: -36.5vw;
			top: -1.5vw;
			width: 38vw;
			height: 26vh;
			background: white;
			box-shadow: 0 .5vh 1vh rgba(0,0,0,.2);
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			transition: all .4s ease-in-out;
		}

			.items li .slider .container {
				position: absolute;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

				.items li .slider .container .slides {
					position: relative;
					display: grid;
					width: 100%;
					height: 100%;
					overflow: hidden;
					transition: all 0.4s;
				}

					.items li .slider .container .slides .slide {
						width: 100%;
						height: 100%;
						transition: all 0.4s;
					}

						.items li .slider .container .slides .slide img {
							object-fit: contain;
							width: 100%;
							height: auto;
						}

						.items li .slider .container .slides .slide p {
							padding: 1.5vw 2vw;
							font-size: .8rem;
							line-height: 1.2rem;
							margin: 0;
						}

				.items li .slider .container .arrow {
					position: absolute;
					left: 0;
					top: 30%;
					padding: 1vw 1vw 1.75vw 1vw;
					font-size: 2rem;
					line-height: 2rem;
					color: rgba(255,255,255,.5);
					transform: translateY(-50%);
					cursor: pointer;
					z-index: 99;
				}

					.items li .slider .container .arrow.right {
						left: auto;
						right: 0;
					}

					.items li .slider .container .arrow.left::before {
						content: "\2039"
					}

					.items li .slider .container .arrow.right::before {
						content: "\203A"
					}

		.items li.selected .slider {
			opacity: 1;
			visibility: visible;
		}
